<div class="row form-wrapper">
    <form class="text-muted clearfix page-form" id="create-form">
        <div class="form-group">
            <label for="title">Write a title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="category">Choose a category</label>
            <select id="category" class="form-control">
            <option>DC</option>
            <option>Marvel</option>
            <option>Darkhorse</option>
            <option>Image</option>
        </select>
        </div>
        <div class="form-group">
            <label for="subcategory">Choose a subcategory</label>
            <select id="subcategory" class="form-control">
            <option>Comics</option>
            <option>Graphic Novels</option>
            <option>Movies</option>
            <option>Action Figures</option>
        </select>
        </div>
        <div class="form-group">
            <label for="image">Set image URL</label>
            <input type="text" class="form-control" id="image" placeholder="Image URL">
        </div>
        <div class="form-group">
            <label for="videoUrl">Set video URL</label>
            <input type="text" class="form-control" id="videoUrl" placeholder="Video URL">
        </div>
        <div class="form-group">
            <label for="article">Write your review</label>
            <textarea class="form-control" rows="8" id="article"></textarea>
        </div>
        <button type="submit" id="btn-create-post" class="btn btn-default pull-right">Submit</button>
    </form>
</div>