<div class="row form-wrapper">
    <form id="login-form" class="clearfix col-md-6 col-md-push-3 page-form">
        <div class="form-group">
            <label for="login-username">Username</label>
            <input type="text" id="login-username" class="form-control">
        </div>
        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" id="login-password" class="form-control">
        </div>
        <button id="btn-login" type="submit" class="btn pull-right site-button login-click">Login</button>
    </form>
</div>