<div class="row form-wrapper">
    <form id="reg-form" class="clearfix col-md-6 col-md-push-3 page-form">
        <div class="form-group">
            <label for="reg-username">Username</label>
            <input type="text" id="reg-username" class="form-control">
        </div>
        <div class="form-group">
            <label for="reg-password">Password</label>
            <input type="password" id="reg-password" class="form-control">
        </div>
        <div class="form-group">
            <label for="reg-email">Email</label>
            <input type="email" id="reg-email" class="form-control">
        </div>
        <button id="btn-reg" type="submit" class="btn site-button pull-right">Register</button>
    </form>
</div>