@font-face {
    font-family: LeagueGothic;
    src: url('../../assets/fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: DroidSans;
    src: url('../../assets/fonts/DroidSans-Regular.ttf') format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 13px;
    color: #fff;

     background: repeating-linear-gradient(to right, #1d1d1d 0%, #313131 21%, #323232 50%, #313131 79%, #1d1d1d 100%); 
    font-family: LeagueGothic;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    ;
}

main {
    overflow: auto;
    margin-bottom: 150px;
    margin-top: 2em;
    margin-bottom: 5em;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-right: 85px;
    padding-left: 85px;
}

main.container-fluid {
    padding: 0;
}

.clear-float {
    clear: both;
}

a {
    color: #fff;
}

a:active {
    color: #dcc08e;
}

a:focus {
    color: #dcc08e;
}

label {
    color: #fff;
    font-size: 1.2rem;
}

#content {
    padding: 0 1.3em;
}

.hbox {
    margin-left: 65px;
}

.boxes-container {
    margin-left: 60px;
}

.i-bg-yellow {
    color: #dcc08e;
}

.site-button {
    cursor: pointer;
    border-radius: 0px;
    color: #dcc08e;
    background-color: #1c1c1c;
}

.site-button:hover {
    background-color: #000;
}


/*header {
    margin-top: 125px;
}*/


/*nav ul {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-left: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}*/

nav ul li {
    /* padding-left: 20px; */
    font-size: 1.84rem;
    text-transform: uppercase;
    color: #ffffff;
}
.p-l-6em{
    padding-left:6em;
}
.fa-bars {
    color: #fff;
}

.logo-wrap {
    padding-top: 9.6em;
}

.nav-link {
    padding: .5em .7em;
    text-shadow: 2px 2px 4px black;
}

.navbar {
    padding: .5rem .6rem;
}

.nav-link:hover {
    color: #dcc08e;
}

.nav-link:active {
    color: #dcc08e;
}

.active {
    color: #dcc08e;
}

.search-button {
    border: none;
    background: transparent;
    position: relative;
    right: 20%;
    z-index: 2;
}

.home-search {
    color: #fff;
}

.home-search:hover {
    color: #fff;
}

nav ul li:last-of-type {
    position: absolute;
    right: 83px;
    font-style: italic;
    /*margin-left: 300px;*/
}

nav input[type="text"] {
    background: linear-gradient(to right, #242424, #1b1b1b);
    width: 190px;
    height: 32px;
    padding: 14px 12px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 12px;
}

nav .search-img {
    font-size: 1rem;
    position: relative;
    right: 13%;
    color: #dcc08e;
}

.i-bold {
    font-weight: bold;
}

.i-uppercase {
    text-transform: uppercase;
}


/*DROPDOWN MENU BUTTONS*/

#dropdownMenu1 {
    background: transparent !important;
}

#dropdownMenu1:hover {
    cursor: pointer;
    color: #dcc08e;
    background-color: #222222 !important;
}

.dropdown-menu {
    background-color: #222222;
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu:hover a {
    background-color: #222222;
}

.dropdown-item:hover {
    color: #dcc08e;
}

.btn-xl {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


/*END OF DROPDOWN MENU BUTTONS*/


/*main {
    margin-top: 60px;
}*/


/*BLOGS  */

.box {
    margin-left: 26px;
    margin-bottom: 25px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
    height: 360px;
    background: #ffffff;
    box-shadow: 2px 2px 4px black;
}

.big-box {
    margin-left: 26px;
    margin-bottom: 25px;
    position: relative;
    max-width: 486px;
    overflow: hidden;
    height: 360px;
    background: #ffffff;
    box-shadow: 2px 2px 4px black;
}

.box .box-image {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    max-width: 224px;
    height: 180px;
    font-family: sans-serif;
    font-size: 40px;
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9) inset;
    text-align: center;
}

.big-box .box-image {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    max-width: 480px;
    height: 180px;
    font-family: sans-serif;
    font-size: 40px;
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9) inset;
    text-align: center;
}

.box-category {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 8px;
    font-size: 22px;
    text-transform: uppercase;
    background: #7e426d;
    color: #ffffff;
}

.box-date {
    position: absolute;
    top: 46px;
    right: 3px;
    padding: 8px;
    font-size: 36px;
    text-transform: uppercase;
    background: transparent;
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}

.box-title {
    margin-top: 178px;
    margin-left: 16px;
    font-size: 30px;
    font-weight: bold;
    /* trial */
    text-transform: uppercase;
}

.box-title a {
    color: #7e426d;
}

.box-title a:hover {
    text-decoration: none;
    color: #dcc08e;
}

.box-author {
    margin-top: -10px;
    margin-left: 16px;
    font-size: 18px;
    text-transform: uppercase;
    color: #212121;
    z-index: 992;
}

.box-content {
    padding-left: 16px;
    padding-top: 15px;
    color: #8b8787;
    border-top: 1px dotted #a8a8a8;
    font-size: 13px;
    font-family: DroidSans;
}

.box-bottom-border {
    background: repeating-linear-gradient( -45deg, #cbcbcb, #cbcbcb 1px, #ffffff 1px, #ffffff 4px);
    /* position: absolute;  */
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 9px;
}

.box-top-border {
    background: repeating-linear-gradient( -45deg, #cbcbcb, #cbcbcb 1px, #ffffff 1px, #ffffff 4px);
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 9px;
}


/*PAGING*/

.page-img {
    margin-left: 26px;
    width: 25px;
    height: 27px;
    display: inline-block;
}

.page-img:first-of-type {
    position: absolute;
    left: 0;
}

.page-img:last-of-type {
    position: absolute;
    right: 0;
}

.i-page-link {
    color: #ffffff;
    font-size: 36px;
    margin-left: 19px;
    text-shadow: 1px 1px 2px #000000;
}

.i-page-link a:hover {
    text-decoration: none;
    color: #dcc08e;
}


/*END OF PAGING*/

.i-padding-reset {
    padding: 0;
}


/*SINGLE BLOG*/

.breadcrumb-item+.breadcrumb-item:before {
    color: #605f5f;
    font-size: .9rem;
    content: ">";
    padding: 0 5px;
}

.padding-normalize{
    padding-left:2.5em;
    padding-top:2em;
}

.breadcrumb {
    padding-left: 6em;
    font-family: DroidSans;
    font-size: .9rem;
    background: transparent;
}

.breadcrumb a {
    color: #605f5f;
    text-shadow: 1px 1px 2px black;
}

.current-nav {
    color: #605f5f;
    font-size: 13px;
    margin-top: 25px;
    margin-left: 85px;
}

/* .post-wrapper>.row> [class^="col-"], [class*=" col-"]{
    padding-left:0;
    padding-right: 0;
} */

.zero-padding{
    padding-left:0;
    padding-right: 0;
}

.left-part-page-wrapper {
    float: left;
}

.current-box {
    margin-bottom: 1.5em;
    position: relative;
    background-color: #ffffff;
    min-height: 685px;
    /* max-width: 1200px; */
    box-shadow: 2px 2px 4px black;
}

.tags-wrapper{
    padding-left: 2.5em;
}

.current-box-left {
    max-width: 228px;
}

/* .current-box .i-push-left {
    margin-left: 32px;
} */

.current-box-image {
   position: relative;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    /* left: 32px; */
    border: 5px solid #eeeeee;
    width: 186px;
    height: 186px;
}

.current-box .i-push-left .current-box-image {
    padding-left: 32px;
}

.current-box-image img {
    width: 100%;
    height: 100%;
}

.current-box .box-category {
    top: 0;
    right: 0;
}

.current-box ul {
    list-style-type: none;
}

.current-box h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
}

.current-box-right .box-title {
    font-size: 36px;
}

.current-box-tags ul {
    font-size: 8px;
    text-transform: uppercase;
    font-family: DroidSans;
    color: #6e6e6e;
}

.current-box-tags ul li {
    padding: 10px;
    background-color: #efefef;
    float: left;
    margin: 3px;
}

/* .current-box-related, .current-box-share {
    margin-top: 25px;
    margin-left:32px;
} */

.current-box-related>div, .current-box-share>div{
    padding-left:2.5em;
    padding-top:1.5em;
}

.current-box-related ul {
    margin-top: 25px;
    font-size: 12px;
    font-family: DroidSans;
    color: #6e6e6e;
    margin: 0;
    padding: 0;
}

.li-link {
    width: 10px;
    height: 5px;
    /* margin-left: 29px; */
}

.current-box-share ul {
    margin: 0;
    padding: 0;
}

.current-box-share ul li {
    margin-left: 3px;
    display: inline-block;
    margin-bottom: 3px;
}

.current-box-share ul img {
    border-radius: 4px;
    width: 25px;
    height: 25px;
}


.current-box .box-title,
.current-box-comments .box-title {
    font-size: 36px;
    margin: 0px;
    color: #7e426d;
}

.current-box .blog-title{
    color: #7e426d;
    margin: 0px;    
    font-size: 2.8em;
}

.blog-sub-title{
    font-size: 18px;
    text-transform: uppercase;
    color: #212121;
}
.article-content{
    color: #8b8787;
    border-top: 1px dotted #a8a8a8;
    font-size: 13px;
    font-family: DroidSans;
    padding-top:.5em;
}

.current-box-right .box-author {
    margin: 0px;
    margin-bottom: 13px;
}

.current-box-right .box-content {
    width:100%;
    margin: 0;
    padding: 0;
    padding-top: 13px;
    border-top: 1px dotted #a6a6a6;
}
.content-box{
	padding-right: 2em;
	text-align: justify;
}
.content-wrap{
	padding-left: 1.5em;
	padding-top: 2em;
}


/*SINGLE BLOG POST COMMENTS*/

.current-box-comments {
    padding: 10px 0px 0 0;
    background-color: #ffffff;
    /* position: relative; */
    /* margin-left: 228px; */
    /* margin-top: 16px; */
    /* width: 972px; */
    box-shadow: 2px 2px 4px black;
}

.current-box-comments .box-title {
    width:94%;
    margin:auto;
    padding: 1em 0;
    border-bottom: 1px dotted #a6a6a6;
}

.comments-container {
    padding-bottom: 18px;
}

.comment {
    border-bottom: 1px dotted #a6a6a6;
    width: 94%;
    margin:auto;
}

.comment-data {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-left: 29px;
    margin-right: 36px;
}

.subcomments .comment {
    border: 0;
}

.subcomments .comment-data {
    margin-right: 0;
}

.comment .subcomments {
    margin-top: -50px;
    margin-left: 50px;
}

.comment .comment-img {
    border: 4px solid #efefef;
    width: 64px;
    height: 64px;
}

.comment-details {
    padding-left: 1em;
    width: 100%;
}

.comment-author {
    font-size: 24px;
    color: #2c2c2c;
    text-transform: uppercase;
}

.comment-content {
    font-family: DroidSans;
    font-size: 13px;
    color: #8b8787;
    /* margin-bottom: 50px; */
}

.reply-wrap{
    padding-bottom:1em;
}
.reply-button {
    cursor:pointer;
    padding: 10px 13px;
    border: 0;
    background-color: #efefef;
    color: #6e6e6e;
    font-size: 11px;
    font-family: DroidSans;
}

.reply-button:hover{
    background-color:#f5f5f5;
    color:#313131;
}

#leave-reply {
    width: 50%;
    padding: 1em 2.5em;
}

#leave-reply .form-group input{
    width: 70%;
    padding: 7px 5px;
}

#leave-reply textarea{
    width:100%;
    padding:7px 5px;
}

.comment-form textarea {
    resize: none;
}

.purple-heading{
    font-weight: bold;
    text-transform: uppercase;
    padding-left:1em;
    font-size: 36px;
    color: #7e426d;
}


/*SINGLE BLOG POST SIDE MENU*/

aside {
    float: left;
    margin-right: 64px;
    padding-left: 15px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside .nav-ul {
    max-width: 378px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside .nav-ul li {
    max-width: 33.33%;
    float: left;
    background-color: #d6d6d6;
}

.aside-box {
    background-color: #e7e7e7;
}

.selected-aside-post {
    background-color: #e7e7e7;
}

.aside-post .aside-box {
    float: left;
}

.aside-post {
    max-width: 378px;
    height: 337px;
    margin-bottom: 16px;
    position: relative;
}

.aside-widget {
    max-width: 378px;
    height: 277px;
    margin-bottom: 16px;
    position: relative;
}

.aside-widget .li-link {
    font-size: 14px;
}

.aside-title {
    margin: 0;
    padding: 22px 29px 14px 31px;
    font-size: 30px;
    text-transform: uppercase;
    color: #7e426d;
    border: 1px dotted #969696;
}

.aside-content .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 68px;
    border-bottom: 1px dotted #969696;
}

.aside-content .content img {
    width: 44px;
    height: 44px;
    margin: 14px 10px 10px 17px;
}

.aside-content .content-details {
    margin-top: -6px;
}

.aside-content .content .content-title {
    font-size: 14px;
    color: #000000;
}

.aside-content .content .content-date {
    font-size: 11px;
    font-family: DroidSans;
    font-style: italic;
    color: #a1a1a1;
    margin-top: -12px;
}

.aside-widget ul li {
    margin-top: 22px;
    margin-left: 24px;
    color: #979393;
    font-size: 14px;
    font-family: DroidSans;
}

.aside-widget .li-link {
    margin-right: 13px;
}

.aside-widget .text-content {
    margin-top: 22px;
    margin-left: 24px;
    color: #979393;
    font-size: 13px;
    font-family: DroidSans;
}


/*FOOTER */

footer {
    bottom: 0;
    border-top: 1px solid #474747;
    /* height: 415px; */
    /* background: repeating-linear-gradient(to right, #1d1d1d 0%, #313131 21%, #323232 50%, #313131 79%, #1d1d1d 100%); */
    background: repeating-linear-gradient(to right, #1d1d1d 0%, #313131 21%, #212121 50%, #313131 79%, #1d1d1d 100%);
}

footer .container-fluid {
    padding: 0 125px;
}

.sections-container {
    padding-top: 3.849em;
    margin: 0;
}


/*footer ul li {
    margin-bottom: 11px;
}*/

footer ul a {
    color: #d1d1d1;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
}

footer ul a:hover {
    color: #fff;
}

.link-color-change-arrow img:last-child {
    display: none
}

.link-color-change-arrow:hover img:first-child {
    display: none
}

.link-color-change-arrow:hover img:last-child {
    display: inline-block
}

.footer-section .section-content p {
    width: 275px;
    margin: 0;
    padding: 0;
    color: #d1d1d1;
    text-shadow: 2px 2px 4px black;
}


/*.footer-section {
    margin-left: 190px;
    margin-top: 50px;
    width: 100%;
    padding: 0;
}*/

.footer-section .section-title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px black;
}

.footer-section .section-content {
    font-family: DroidSans;
    font-size: 13px;
    color: #ffffff;
    width: 100%;
}

footer ul li {
    margin-bottom: 1.6em;
}

footer ul li img {
    width: 9px;
    height: 9px;
    margin-right: 11px;
}


/*footer ul li img {
    width: 9px;
    height: 9px;
    margin-right: 11px;
}*/


/*FORMS  */

.page-form {
    width: 50%;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
}

.form-control {
    border-radius: 0px;
    -moz-box-shadow: inset 0 8px 65px -6px #fbfbfb;
    -webkit-box-shadow: inset 0 8px 65px -6px #fbfbfb;
    box-shadow: inset 0 8px 65px -6px #fbfbfb;
    -moz-box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    -webkit-box-shadow: inset 0 -8px 65px 6px #fbfbfb;
    box-shadow: 2px 2px 2px black;
}

.form-wrapper {
    margin: 3em 0;
}


/*  MEDIA QUERIES*/

@media only screen and (min-width: 320px) and (max-width: 576px) { 
	.padding-normalize{
		padding-left:1.5em;
	}
    .current-box-image {
    position: relative;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    /* left: 32px; */
    border: 5px solid #eeeeee;
    width:100%;
    height: 284px;
   }

   .tags-wrapper{
       padding-left: 1.5em;
    	padding-top: 0;
   }

   .content-wrap{
	  padding: 1em;
   }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
	.zero-padding{
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}

	.tags-wrapper{
		padding-top: 2em;
    	padding-left: 0;
	}

	.current-box-related>div, .current-box-share>div{
		padding-left:0;
	}

	.content-wrap{
		padding-left:0;
	}
}